.header{
    box-shadow: 0px 0px 10px #eee;
}


.navbar-brand{
    font-size: 34px;
}

.nav-link{
    color: #000;
    font-size: 17px;
    padding: 0 30px !important;
    text-transform: uppercase;
    font-weight: 500;
}